/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

html,body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
