<div class="header animate__animated animate__fadeIn">
  <div class="section">
    <span class="title">MediChat</span>
  </div>
  <div class="section">

    <ul class="list-menu">
      <li class="btn-menu">
        <i class="fas fa-home"></i>
      </li>
      <li class="btn-menu">
        <i class="fas fa-share-alt"></i>
      </li>
      <li class="btn-menu">
        <i class="fab fa-github"></i>
      </li>
    </ul>

  </div>
  <div class="section">
    <div class="wrapper-avatar">
      <img src="https://avatars.githubusercontent.com/u/48917572?v=4" alt="">
    </div>
  </div>
</div>

<div class="wrapper-body">
  <div class="block animate__animated animate__fadeIn" (click)="goToRoom()">
    <div class="btn-block">
      <i class="fas fa-video"></i>
    </div>
    <div class="label-title">Nova Reunião</div>
  </div>
</div>
